# Ignore all local skills by default
/*

# Allow repository metadata
!.gitignore
!LICENSE
!README.md

# Allow Unreal skills only
!unreal-as/
!unreal-as/**
!unreal-gameplayFramework/
!unreal-gameplayFramework/**
!unreal-test/
!unreal-test/**
